<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="at.bitandart.zoubek.mervin.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://zoubek.bitandart.at/mervin/modelreview">
         <metamodelType
               eclass="ModelReview"
               id="at.bitandart.zoubek.mervin.model.ModelReview"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               name="ModelReview">
            <param
                  name="semanticHint"
                  value="Mervin_ModelReview_ModelReview">
            </param>
         </metamodelType>
         <metamodelType
               eclass="Diagram"
               id="at.bitandart.zoubek.mervin.model.Diagram"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               name="Diagram">
            <param
                  name="semanticHint"
                  value="Mervin_ModelReview_Diagram">
            </param>
         </metamodelType>
         <metamodelType
               eclass="NodeDifferenceOverlay"
               id="at.bitandart.zoubek.mervin.model.overlay.difference.node"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               name="NodeDifferenceOverlay">
            <param
                  name="sematicHint"
                  value="Mervin_ModelReview_Overlay_Difference_Node">
            </param>
         </metamodelType>
         <metamodelType
               eclass="EdgeDifferenceOverlay"
               id="at.bitandart.zoubek.mervin.model.overlay.difference.edge"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               name="EdgeDifferenceOverlay">
            <param
                  name="sematicHint"
                  value="Mervin_ModelReview_Overlay_Difference_Edge">
            </param>
         </metamodelType>
      </metamodel>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider
            class="at.bitandart.zoubek.mervin.diagram.diff.gmf.ModelReviewViewProvider">
         <Priority
               name="Highest">
         </Priority>
      </viewProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="at.bitandart.zoubek.mervin.diagram.diff.gmf.ModelReviewEditPartProvider">
         <Priority
               name="Highest">
         </Priority>
      </editpartProvider>
   </extension>
   <extension
         id="ide"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Mervin Model Review Visualization Prototype">
         <property
               name="windowImages"
               value="eclipse16.png,eclipse32.png,eclipse48.png">
         </property>
         <property
               name="aboutText"
               value="Mervin (ModEl Review VIsualizatioN) Prototype&#x0A;&#x0A;Copyright (c) 2015, 2016 Florian Zoubek.&#x0A;All rights reserved. This program and the accompanying materials&#x0A;are made available under the terms of the Eclipse Public License v1.0&#x0A;which accompanies this distribution, and is available at&#x0A;http://www.eclipse.org/legal/epl-v10.html">
         </property>
         <property
               name="aboutImage"
               value="eclipse_lg.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="2,290,448,10">
         </property>
         <property
               name="startupMessageRect"
               value="7,265,320,20">
         </property>
         <property
               name="appName"
               value="Mervin Model Review Visualization Prototype">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.css.domElementAdapter">
      <factory
            factory="at.bitandart.zoubek.mervin.papyrus.css.MervinElementProviderFactory"
            order="50">
      </factory>
   </extension>

</plugin>
