<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="at.bitandart.zoubek.mervin.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://zoubek.bitandart.at/mervin/modelreview">
         <metamodelType
               eclass="ModelReview"
               id="at.bitandart.zoubek.mervin.model.ModelReview"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               name="ModelReview">
            <param
                  name="semanticHint"
                  value="Mervin_ModelReview_ModelReview">
            </param>
         </metamodelType>
         <metamodelType
               eclass="Diagram"
               id="at.bitandart.zoubek.mervin.model.Diagram"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               name="Diagram">
            <param
                  name="semanticHint"
                  value="Mervin_ModelReview_Diagram">
            </param>
         </metamodelType>
      </metamodel>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider
            class="at.bitandart.zoubek.mervin.diagram.diff.gmf.ModelReviewViewProvider">
         <Priority
               name="Highest">
         </Priority>
      </viewProvider>
   </extension>

</plugin>
